<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Controle de Funcionários</title>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header>
        <h1>Controle de Funcionários</h1>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>